.map-card {
    background: rgba(0, 0, 0, 0.4);
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    width: 450px;
    height: 100%;
    transition: all 0.3s ease;
    /* pointer-events: auto; */
}

.map-tools {
    background: transparent;
    margin-left: 5px;
    border-radius: 6px;
    height: fit-content;
    gap: 4px
}

.map-card-container{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
}

#map {
        position: relative;
        z-index: 0;
        height: calc(100vh - 250px);
        width: 100%;
        /* pointer-events: none; */
}

.layer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.layer-button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 4px;
}

.layer-panel {
    background: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 6px;
    width: 180px;
    margin-bottom: 8px;
    display: none; 
}

.layer-panel.show {
    display: block; 
}

.layer-panel.hidden {
    opacity: 0;
    transform: scaleY(0);
    pointer-events: none;
    transform-origin: top;
}

.layer-container .layer-panel {
    align-self: flex-start;
    width: auto; 
    min-width: 180px;
}

.map-tools button {
    width: auto;
    min-width: 50px;
    width: 50px;
}

.nav-custom .nav-link {
    color: white !important; 
}
.nav-custom .nav-link.active {
    color: rgb(2, 2, 2) !important; 
}

.leaflet-draw-toolbar-top {
    display: none !important;
}
.leaflet-draw-actions {
    display: none !important;
}